/* ==========================================================================
   Fonts
   ========================================================================== */

/* English */

@font-face {
  font-family: "SEFont";
  src:
    url("../../assets/fonts/english-avenir/Avenir-Roman.woff2") format("woff2"),
    url("../../assets/fonts/english-avenir/Avenir-Roman.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000-007F, U+0080-00FF, U+0100-017F;
}

@font-face {
  font-family: "SEFont";
  src:
    url("../../assets/fonts/english-avenir/Avenir-Medium.woff2") format("woff2"),
    url("../../assets/fonts/english-avenir/Avenir-Medium.woff") format("woff");
  font-weight: 500 700;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000-007F, U+0080-00FF, U+0100-017F;
}

@font-face {
  font-family: "SEFont";
  src:
    url("../../assets/fonts/english-avenir/Avenir-heavy.woff2") format("woff2"),
    url("../../assets/fonts/english-avenir/Avenir-heavy.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000-007F, U+0080-00FF, U+0100-017F;
}

@font-face {
  font-family: "SEFont";
  src:
    url("../../assets/fonts/english-avenir/Avenir-Black.woff2") format("woff2"),
    url("../../assets/fonts/english-avenir/Avenir-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000-007F, U+0080-00FF, U+0100-017F;
}

/* Arabic */

@font-face {
  font-family: "SEFont";
  src: url("../../assets/fonts/arabic-avenir/AvenirArabic-Book.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range:
    U+0600-06FF, U+0750-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF;
}

@font-face {
  font-family: "SEFont";
  src:
    url("../../assets/fonts/arabic-avenir/AvenirArabic-Medium.woff")
      format("woff"),
    url("../../assets/fonts/arabic-avenir/AvenirArabic-Medium.otf")
      format("opentype");
  font-weight: 500 700;
  font-style: normal;
  font-display: swap;
  unicode-range:
    U+0600-06FF, U+0750-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF;
}

@font-face {
  font-family: "SEFont";
  src:
    url("../../assets/fonts/arabic-avenir/AvenirArabic-Heavy.woff")
      format("woff"),
    url("../../assets/fonts/arabic-avenir/AvenirArabic-Heavy.otf")
      format("opentype");
  font-weight: 800 900;
  font-style: normal;
  font-display: swap;
  unicode-range:
    U+0600-06FF, U+0750-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF;
}

/* Tokens */

:root {
  --font-sans:
    "SEFont", system-ui, -apple-system, "Segoe UI", Tahoma, Arial, sans-serif;

  --font-sans-en:
    "SEFont", system-ui, -apple-system, "Segoe UI", Arial, sans-serif;

  --font-sans-ar: "SEFont", "Segoe UI", Tahoma, Arial, sans-serif;
}

html,
body {
  font-family: var(--font-sans);
}

.font-en,
.font-ar {
  font-family: var(--font-sans) !important;
}
