<section class="app-container hero-banner-section">
	<div class="profile-banner animate__animated animate__fadeIn">
		<div class="profile-banner--pattern">
			<div class="row">
				<div class="col-12">
					<h2>
						<svg class="pc-icon pr-3 link-icon me-3" width="40" height="40"
							style="color: rgb(255, 255, 255); fill: rgb(255, 255, 255)">
                    <use xlink:href="#tadawul-arrow-icon"></use>
                  </svg>
						<label style="color: #FFFFFF"><fmt:message
								key="issuer.trading.info.v2.title" /></label>
					</h2>
				</div>


				<section class="tabs-container" data-tabs data-tabs-id="trading"
					data-content-target="#main-content">

					<!-- Tabs Navigation -->
					<div class="tabs" role="tablist" aria-label="Trading Tabs">
						<button class="tabs__item is-active" type="button" role="tab"
							id="trading-tab-negotiatedDeals" aria-selected="true"
							aria-controls="trading-panel-negotiatedDeals"
							data-tab="negotiatedDeals">
							<fmt:message key="issuer.trading.info.v2.title.negotiated" />
						</button>

						<button class="tabs__item" type="button" role="tab"
							id="trading-tab-accumulated" aria-selected="false"
							aria-controls="trading-panel-accumulated" data-tab="accumulated"
							tabindex="-1">
							<fmt:message key="issuer.trading.info.v2.title.accumulated" />
						</button>

						<button class="tabs__item" type="button" role="tab"
							id="trading-tab-listedTradable" aria-selected="false"
							aria-controls="trading-panel-listedTradable"
							data-tab="listedTradable" tabindex="-1">
							<fmt:message key="issuer.trading.info.v2.title.listedtradable" />
						</button>

						<button class="tabs__item" type="button" role="tab"
							id="trading-tab-deListedCompanies" aria-selected="false"
							aria-controls="trading-panel-deListedCompanies"
							data-tab="deListedCompanies" tabindex="-1">
							<fmt:message key="issuer.trading.info.v2.title.delistedcompanies" />
						</button>

						<button class="tabs__item" type="button" role="tab"
							id="trading-tab-otcTrading" aria-selected="false"
							aria-controls="trading-panel-otcTrading" data-tab="otcTrading"
							tabindex="-1">
							<fmt:message key="issuer.trading.info.v2.title.otcctrading" />
						</button>

						<span class="tabs__underline" aria-hidden="true"></span>
					</div>

					<!-- Filters -->
					<div class="banner-filters" data-filters>

						<!-- negotiatedDeals filters -->
						<div class="banner-filters__group is-active"
							data-filters-for="negotiatedDeals">
							<div class="row mt-2">

								<!-- Type -->
								<div class="col-12 col-lg-3 col-md-3 col-sm-6 col-xm-12">
									<div class="form-field">
										<label class="form-label"><fmt:message key="suspended.company.type" /></label>
										<div class="form-control-shell is-select" tabindex="0"
											data-select data-field="type">
											<div class="form-select-value is-placeholder">
												<fmt:message key="adtv.main.tab.1" />
											</div>
											<input type="hidden" name="type" data-filter="type"
												value="Negotiated-Deals" data-default="Negotiated-Deals" />
											<span class="form-suffix form-select-arrow"
												aria-hidden="true"></span>
											<div class="form-popover">
												<div class="form-select-panel">
													<div class="form-select-list">
														<div class="form-select-option"
															data-value="Negotiated-Deals" data-selected="true">
															<fmt:message key="adtv.main.tab.1" />
														</div>
														<div class="form-select-option" data-value="Minimum-Size">
															<fmt:message key="adtv.main.tab.2" />
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<!-- Sector -->
								<div class="col-12 col-lg-3 col-md-3 col-sm-6 col-xm-12">
									<div class="form-field">
										<label class="form-label"> <fmt:message
												key="issuer.trading.info.v2.section.heading.sector" />
										</label>
										<div class="form-control-shell is-select" tabindex="0"
											data-select data-field="sector">
											<div class="form-select-value is-placeholder">
												<fmt:message key="issuer.trading.info.v2.section.allsectors" />
											</div>
											<input type="hidden" name="sector" data-filter="sector"
												value="All" data-default="All" /> <span
												class="form-suffix form-select-arrow" aria-hidden="true"></span>
											<div class="form-popover">
												<div class="form-select-panel">
												
												<div class="form-select-search-wrap">
<input type="text" class="form-select-search"
														placeholder="<fmt:message key='suspended.history.search' />"
														autocomplete="off" />
</div>
 
													<div class="form-select-list">
														<div class="form-select-option" data-value="All"
															data-selected="true">
															<fmt:message
																key="issuer.trading.info.v2.section.allsectors" />
														</div>
														<c:forEach
															items="${requestScope.compresultlBean.allSectors}"
															var="sectors">
															<div class="form-select-option"
																data-value="${sectors.pk_rf_sector}"
																<c:if test="${requestScope.sector eq sectors.pk_rf_sector}">data-selected="true"</c:if>>
																${sectors.name}</div>
														</c:forEach>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<!-- Company -->
								<div class="col-12 col-lg-3 col-md-3 col-sm-6 col-xm-12">
									<div class="form-field">
										<label class="form-label"> <fmt:message
												key="issuer.trading.info.v2.section.heading.company" />
										</label>
										<div class="form-control-shell is-select" tabindex="0"
											data-select data-field="company">
											<div class="form-select-value is-placeholder">
												<fmt:message key="issuer.trading.info.v2.allcompanies" />
											</div>
											<input type="hidden" name="company" data-filter="company"
												value="All" data-default="All" /> <span
												class="form-suffix form-select-arrow" aria-hidden="true"></span>
											<div class="form-popover">
												<div class="form-select-panel">
												<div class="form-select-search-wrap">
<input type="text" class="form-select-search"
														placeholder="<fmt:message key='suspended.history.search' />"
														autocomplete="off" />
</div>
													<div class="form-select-list">
														<div class="form-select-option" data-value="All"
															data-selected="true">
															<fmt:message key="issuer.trading.info.v2.accumulated.drop.all" />
															
															
														</div>
														<c:forEach
															items="${requestScope.compresultlBean.companyList}"
															var="companies">
															<div class="form-select-option"
																data-value="${companies.symbol}"
																<c:if test="${requestScope.company eq companies.symbol}">data-selected="true"</c:if>>
																${companies.longName}</div>
														</c:forEach>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<!-- Date Range -->
								<div class="col-12 col-lg-3 col-md-3 col-sm-6 col-xm-12">
									<div class="form-field">
										<label class="form-label"> <fmt:message
												key="issuer.trading.info.v2.section.heading.timeperiod" />
										</label>

										<div class="form-control-shell form-date-range is-date"
											data-date-range>
											<input type="text" name="fromDate" data-filter="fromDate"
												class="form-date-input" placeholder="Start date" readonly
												data-date-start /> <span class="form-date-range-separator"
												aria-hidden="true">-</span> <input type="text" name="toDate"
												data-filter="toDate" class="form-date-input"
												placeholder="End date" readonly data-date-end /> <span
												class="form-suffix form-date-icon"></span>
										</div>
									</div>
								</div>

							</div>
							<div class="row">
								<div class="col-12 col-lg-12 col-md-12 col-sm-12 mt-3">
									<div class="d-flex justify-content-lg-end align-items-end">
										<button type="button" class="se-btn se-btn--banner"
											data-reset-filters>
											<span>                      <fmt:message key="issuer.trading.info.v2.search.reset" />
</span>
											 <span
												class="se-btn__icon se-btn__icon--refresh se-icon icon-custom-refresh-cycle icon-md"></span>
										</button>
									</div>
								</div>
							</div>

						</div>

						<!-- accumulated -->
						<div class="banner-filters__group" data-filters-for="accumulated">
							<div class="row">

								<div class="col-12 col-lg-3 col-md-3 col-sm-6 col-xm-12">
									<div class="form-field">
										<label class="form-label"> <fmt:message
												key="issuer.trading.info.v2.accumulated.drop.selectloss" />
										</label>

										<div class="form-control-shell is-select" tabindex="0"
											data-select data-field="report">

											<div class="form-select-value is-placeholder">
												<fmt:message
													key="issuer.trading.info.v2.accumulated.drop.all" />
											</div>

											<input type="hidden" name="report" data-filter="report"
												value="All" data-default="All" /> <span
												class="form-suffix form-select-arrow" aria-hidden="true"></span>

											<div class="form-popover">
												<div class="form-select-panel">
													<div class="form-select-list">

														<div class="form-select-option" data-value="All"
															data-selected="true">
															<fmt:message
																key="issuer.trading.info.v2.accumulated.drop.all" />
														</div>

														<div class="form-select-option" data-value="50-MORE">
															<fmt:message
																key="issuer.trading.info.v2.accumulated.drop.50.more" />
														</div>

														<div class="form-select-option" data-value="35-50">
															<fmt:message
																key="issuer.trading.info.v2.accumulated.drop.35.to.50" />
														</div>

														<div class="form-select-option" data-value="20-35">
															<fmt:message
																key="issuer.trading.info.v2.accumulated.drop.20.to.35" />
														</div>

													</div>
												</div>
											</div>

										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-12 col-lg-12 col-md-12 col-sm-12 mt-3">
										<div class="d-flex justify-content-lg-end align-items-end">
											<button type="button" class="se-btn se-btn--banner"
												data-reset-filters>
												<span><fmt:message key="issuer.trading.info.v2.search.reset" /></span> <span
													class="se-btn__icon se-btn__icon--refresh se-icon icon-custom-refresh-cycle icon-md"></span>
											</button>
										</div>
									</div>
								</div>
								<div
									class="col-12 col-lg-12 col-md-12 col-sm-12 col-xm-12 legend">
									<ul class="listIdentation">
										<li class="liIdentation"><span class="legendGrn"></span>
											<fmt:message
												key="issuer.trading.info.v2.accumulated.losses.50.more" /></li>
										<li class="mx-0 liIdentation"><span class="legendOrg"></span>
											<fmt:message
												key="issuer.trading.info.v2.accumulated.losses.35.to.50" /></li>
										<li class="mx-0 liIdentation"><span class="legendYlw"></span>
											<fmt:message
												key="issuer.trading.info.v2.accumulated.losses.20.to.35" /></li>
									</ul>
								</div>
							</div>

						</div>

						<div class="banner-filters__group"
							data-filters-for="deListedCompanies">
							<div class="row">

								<!-- Type -->
								<div class="col-12 col-lg-3 col-md-3 col-sm-6 col-xm-12">
									<div class="form-field">
										<label class="form-label"> <fmt:message
												key="suspended.company.type" />
										</label>

										<div class="form-control-shell is-select" tabindex="0"
											data-select data-field="type">

											<div class="form-select-value is-placeholder">
												<fmt:message key="suspended.company.suspension.dp" />
											</div>

											<input type="hidden" name="type" data-filter="type"
												value="Suspension" data-default="Suspension" /> <span
												class="form-suffix form-select-arrow" aria-hidden="true"></span>

											<div class="form-popover">
												<div class="form-select-panel">
													<div class="form-select-list">

														<div class="form-select-option" data-value="Suspension"
															data-selected="true">
															<fmt:message key="suspended.company.suspension.dp" />
														</div>

														<div class="form-select-option" data-value="Delisting">
															<fmt:message key="suspended.company.delisting.dp" />
														</div>
														
														<div class="form-select-option" data-value="Suspension_Funds">
															<fmt:message key="suspended.company.suspension.funds.dp" />
														</div>
														
														<div class="form-select-option" data-value="Delisted_Funds">
															<fmt:message key="suspended.company.delisting.funds.dp" />
														</div>

													</div>
												</div>
											</div>

										</div>
									</div>
								</div>

								<!-- Date Range -->
								<div class="col-12 col-lg-3 col-md-3 col-sm-6 col-xm-12">
									<div class="form-field">
										<label class="form-label"> <fmt:message
												key="issuer.trading.info.v2.section.heading.timeperiod" />
										</label>


										<div class="form-control-shell form-date-range is-date"
											data-date-range>
											<input type="text" name="fromDate" data-filter="fromDate"
												class="form-date-input" placeholder="Start date" readonly
												data-date-start /> <span class="form-date-range-separator"
												aria-hidden="true">-</span> <input type="text" name="toDate"
												data-filter="toDate" class="form-date-input"
												placeholder="End date" readonly data-date-end /> <span
												class="form-suffix form-date-icon"></span>
										</div>




									</div>
								</div>

							</div>
							<div class="row">
								<div class="col-12 col-lg-12 col-md-12 col-sm-12 mt-3">
									<div class="d-flex justify-content-lg-end align-items-end">
										<button type="button" class="se-btn se-btn--banner"
											data-reset-filters>
											<span> <fmt:message key="issuer.trading.info.v2.search.reset" /> </span> <span
												class="se-btn__icon se-btn__icon--refresh se-icon icon-custom-refresh-cycle icon-md"></span>
										</button>
									</div>
								</div>
							</div>
							
								<div
									class="col-12 col-lg-12 col-md-12 col-sm-12 col-xm-12 legend">
									<ul class="listIdentation">
										<li class="liIdentation"><span class="legendGrn"></span>
											<fmt:message
												key="issuer.trading.info.v2.accumulated.losses.50.more" /></li>
										<li class="mx-0 liIdentation"><span class="legendOrg"></span>
											<fmt:message
												key="issuer.trading.info.v2.accumulated.losses.35.to.50" /></li>
										<li class="mx-0 liIdentation"><span class="legendYlw"></span>
											<fmt:message
												key="issuer.trading.info.v2.accumulated.losses.20.to.35" /></li>
									</ul>
								</div>
						</div>

						<!-- otcTrading -->
						<div class="banner-filters__group" data-filters-for="otcTrading">
							<!-- (if any filters exist, same pattern: data-filter only) -->
						</div>

					</div>
				</section>
			</div>
		</div>
	</div>
	<div class="intro-section">

		<section class="app-container mt-5">

			<!-- Tab Content (can live anywhere on the page) -->
			<section id="main-content" class="tab-content">
				<!-- negotiatedDeals panel -->
				<section class="tab-content__panel is-active"
					id="trading-panel-negotiatedDeals" role="tabpanel"
					aria-labelledby="trading-tab-negotiatedDeals"
					data-tab="negotiatedDeals">
					<!-- Variant A: Negotiated Deals -->
					<div data-variant="Negotiated-Deals">
						<div class="resultBox">
							<div class="resultFst">
								<div class="resultShow">
									<fmt:message key="issuer.trading.info.results.msg" />
									: <span id="tradingTableResultsId">0</span>
								</div>
							</div>
						</div>
						<table id="negotiatedDealsTable" class="table">
							<thead>
								<tr>
									<th><fmt:message
											key="issuer.trading.info.v2.table.heading.date" /></th>
									<th><fmt:message
											key="issuer.trading.info.v2.table.heading.symbol" /></th>
									<th><fmt:message
											key="issuer.trading.info.v2.table.heading.companyname" /></th>
									<th><fmt:message
											key="issuer.trading.info.v2.table.heading.price" /></th>
									<th><fmt:message
											key="issuer.trading.info.v2.table.heading.volumetraded" /></th>
									<th><fmt:message
											key="issuer.trading.info.v2.table.heading.valuetraded" /></th>
									<th><fmt:message
											key="issuer.trading.info.v2.table.heading.time" /></th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>

					<!-- Variant B: Minimum Size (hidden by default) -->
					<div data-variant="Minimum-Size" hidden>
						<div class="resultBox">
							<div class="resultFst">
								<div class="resultShow">
									<fmt:message key="issuer.trading.info.results.msg" />
									: <span id="minimumSizeTableResultsId">0</span>
								</div>
							</div>
						</div>
						<table id="minimumSizeTable" class="table">
							<thead>
								<tr>
									<th><fmt:message key="adtv.sub.row.1" /></th>
									<th><fmt:message key="adtv.sub.row.0.col.1" /></th>
									<th><fmt:message key="adtv.sub.row.0.col.2" /></th>
									<th><fmt:message key="adtv.sub.row.0.col.3" /></th>
									<th><fmt:message key="adtv.sub.row.0.col.4" /></th>
								</tr>
								<tr>
									<th><fmt:message key="adtv.sub.row.2" /></th>
									<th><fmt:message key="adtv.sub.row.1.col.1" /></th>
									<th><fmt:message key="adtv.sub.row.1.col.2" /></th>
									<th><fmt:message key="adtv.sub.row.1.col.3" /></th>
									<th><fmt:message key="adtv.sub.row.1.col.4" /></th>
								</tr>
								<tr>
									<th><fmt:message key="adtv.sub.row.3" /></th>
									<th><fmt:message key="adtv.sub.row.2.col.1" /></th>
									<th><fmt:message key="adtv.sub.row.2.col.2" /></th>
									<th><fmt:message key="adtv.sub.row.2.col.3" /></th>
									<th><fmt:message key="adtv.sub.row.2.col.4" /></th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>
				</section>

				<!-- accumulated panel -->
				<section class="tab-content__panel" id="trading-panel-accumulated"
					role="tabpanel" aria-labelledby="trading-tab-accumulated"
					data-tab="accumulated" hidden>
					<div class="resultBox">
						<div class="resultFst">
							<div class="resultShow">
								<fmt:message key="issuer.trading.info.results.msg" />
								: <span id="accumulatedLossesTableResultsId">0</span>
							</div>
						</div>
					</div>
					<table id="accumulatedLossesTable" class="table" data-dt>
						<thead>
							<tr>
								<th><fmt:message
										key="issuer.trading.info.v2.table.heading.acc.symbol" /></th>
								<th><fmt:message
										key="issuer.trading.info.v2.table.heading.acc.companyname" /></th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
				</section>

				<!-- listedTradable panel -->
				<section class="tab-content__panel"
					id="trading-panel-listedTradable" role="tabpanel"
					aria-labelledby="trading-tab-listedTradable"
					data-tab="listedTradable" hidden>
					<div class="resultBox">
						<div class="resultFst">
							<div class="resultShow">
								<fmt:message key="issuer.trading.info.results.msg" />
								: <span id="listedTradableRightsTableResultsId">0</span>
							</div>
						</div>
					</div>
					<table id="listedTradableRightsTable" class="table">
						<thead>
							<tr>
								<th rowspan="2" class="align numeric"
									style="text-align: center;"><fmt:message
										key="equityright.table.column.header.tradable.rights" /></th>
								<th colspan="4" class="align numeric"
									style="text-align: center;"><fmt:message
										key="equityright.table.column.header.last.trade" /></th>
								<th colspan="3" class="align numeric"
									style="text-align: center;"><fmt:message
										key="equityright.table.column.header.todays" /></th>
								<th colspan="2" class="align numeric"
									style="text-align: center;"><fmt:message
										key="equityright.table.column.header.cumulative" /></th>
								<th colspan="2" class="align numeric"
									style="text-align: center;"><fmt:message
										key="equityright.table.column.header.best.bid" /></th>
								<th colspan="2" class="align numeric"
									style="text-align: center;"><fmt:message
										key="equityright.table.column.header.best.offer" /></th>
							</tr>
							<tr>
								<th class="align numeric"><fmt:message
										key="equityright.table.column.header.price" /></th>
								<th class="align numeric"><fmt:message
										key="equityright.table.column.header.volume" /></th>
								<th class="align numeric"><fmt:message
										key="equityright.table.column.header.change.value" /></th>
								<th class="align numeric"><fmt:message
										key="equityright.table.column.header.change.percent" /></th>

								<th class="align numeric"><fmt:message
										key="equityright.table.column.header.open" /></th>
								<th class="align numeric"><fmt:message
										key="equityright.table.column.header.high" /></th>
								<th class="align numeric"><fmt:message
										key="equityright.table.column.header.low" /></th>

								<th class="align numeric"><fmt:message
										key="equityright.table.column.header.number.of.trades" /></th>
								<th class="align numeric"><fmt:message
										key="equityright.table.column.header.volume.traded" /></th>

								<th class="align numeric"><fmt:message
										key="equityright.table.column.header.price" /></th>
								<th class="align numeric"><fmt:message
										key="equityright.table.column.header.volume" /></th>

								<th class="align numeric"><fmt:message
										key="equityright.table.column.header.price" /></th>
								<th class="align numeric"><fmt:message
										key="equityright.table.column.header.volume" /></th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
				</section>

				<!-- deListedCompanies panel -->
				<section class="tab-content__panel"
					id="trading-panel-deListedCompanies" role="tabpanel"
					aria-labelledby="trading-tab-deListedCompanies"
					data-tab="deListedCompanies" hidden>

					<!-- Variant A: Suspension -->
					<div data-variant="Suspension">
						<div class="resultBox">
							<div class="resultFst">
								<div class="resultShow">
									<fmt:message key="issuer.trading.info.results.msg" />
									: <span id="suspendedTableResultsId">0</span>
								</div>
							</div>
						</div>
						<table id="suspendedCompTable" class="table">
							<thead>
								<tr>
									<th rowspan="2"><fmt:message
											key="suspended.company.symbol" /></th>
									<th rowspan="2" class="align"><fmt:message
											key="suspended.company.name" /></th>
									<th colspan="2" class="text-center"><fmt:message
											key="suspended.company.period" /></th>
									<th rowspan="2"><fmt:message
											key="suspended.company.reason" /></th>
								</tr>
								<tr>
									<th><fmt:message key="suspended.company.period.from" /></th>
									<th><fmt:message key="suspended.company.period.to" /></th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>

					<!-- Variant B: Delisting (hidden by default) -->
					<div data-variant="Delisting" hidden>
						<div class="resultBox">
							<div class="resultFst">
								<div class="resultShow">
									<fmt:message key="issuer.trading.info.results.msg" />
									: <span id="suspendedDelistedResultsId">0</span>
								</div>
							</div>
						</div>
						<table id="delistedCompTable"
							class="table table-striped table-bordered" cellspacing="0"
							width="100%" data-dt>
							<thead>
								<tr>
									<th><fmt:message key="delisted.company.symbol" /></th>
									<th class="align"><fmt:message key="delisted.company.name" /></th>
									<th><fmt:message key="delisted.company.date" /></th>
								<!-- 	<th><fmt:message key="delisted.company.transformeddate" /></th>  -->
									<th><fmt:message key="delisted.company.reason" /></th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>
				</section>

				<!-- otcTrading panel -->
				<section class="tab-content__panel" id="trading-panel-otcTrading"
					role="tabpanel" aria-labelledby="trading-tab-otcTrading"
					data-tab="otcTrading" hidden="hidden">
					<div class="resultBox">
						<div class="resultFst">
							<div class="resultShow">
								<fmt:message key="issuer.trading.info.results.msg" />
								: <span id="otcTradingTableResultsId">0</span>
							</div>
						</div>
					</div>
					<table id="otcTradingTable" class="table" data-dt>
						<thead>
							<tr>
								<th><fmt:message key="OTC.Symbol" /></th>
								<th><fmt:message key="OTC.Company" /></th>
								<th><fmt:message key="OTC.TradedVolume" /></th>
								<th class="text-center"><fmt:message key="OTC.LastUpdatePrice" /></th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
				</section>
			</section>
		</section>
	</div>
</section>



<script>
window.DROPDOWN_CONFIG = {
  sector: {
    targets: [
      {
        field: 'company',
        url: '<portlet:resourceURL id="getCompaniesBySector" />',
        method: 'GET',
        params: function (sectorValue) {
          return {
            format: 'json',
            sector: sectorValue
          };
        },
        map: function (item) {
          return {
            value: item.symbol,
            label: item.longName
          };
        }
      }
    ]
  }
};
</script>

<script>
window.TRADING_DATATABLE_CONFIG = {
  locale: document.querySelector("#requestLocale")?.value || "en",

  ui: {
    loader: {
      enabled: true,
      text: '<fmt:message key="datatable.loading" />'
    },
 
    empty: {
      text: '<fmt:message key="datatable.no.data" />',
      imageUrl: "${pageContext.request.contextPath}/images/no-data.png"
    },
 
    pagination: {
      enabled: true,
      className: "feed__pagination",
      pageText: '<fmt:message key="pagination.page" />',
      ofText: '<fmt:message key="pagination.of" />',
      prevAriaLabel: '<fmt:message key="pagination.previous" />',
      nextAriaLabel: '<fmt:message key="pagination.next" />'
    }
  },
 
  defaults: {
    dateRange: {
      enabled: true,
      mode: "lastMonthToToday",
      format: "dd-MM-yyyy"
    },
 
    dataTable: {
      paging: true,
      pageLength: 25,
      lengthMenu: [25, 50, 100],
      searching: false,
      ordering: false,
      info: false,
      dom: "rt",
      deferRender: true,
      autoWidth: false,
      fixedHeader: true
    }
  },
 
  urls: {
    negotiatedDeals: '<portlet:resourceURL id="getNegotiatedDetails" />',
    minimumSize: '<portlet:resourceURL id="getMainMarketMinimumSizeRequirements" />',
    accumulatedLosses: '<portlet:resourceURL id="getAccumulatedLossesDetails" />',
    listedTradableRights: '<portlet:resourceURL id="getListedTradableRightsDetails" />',
    otcTrading: '<portlet:resourceURL id="getOtcTradingData" />',
    suspendedDelisted: '<portlet:resourceURL id="getSuspendedDelistedComp" />'
  },
 
  labels: {
    suspendedLink: '<fmt:message key="suspended.company.link" />',
    delistedLink: '<fmt:message key="delisted.company.link" />',
    	  total: '<fmt:message key="issuer.trading.info.v2.total" />'
    
  },
  
  
 resultCounters: {
  negotiatedDeals: "#tradingTableResultsId",
  minimumSize: "#minimumSizeTableResultsId",
  accumulatedLosses: "#accumulatedLossesTableResultsId",
  listedTradableRights: "#listedTradableRightsTableResultsId",
  suspended: "#suspendedTableResultsId",
  suspendedDelisted: "#suspendedDelistedResultsId",
  otcTrading: "#otcTradingTableResultsId"
},

  tables: {
    negotiatedDeals: {
      selector: "#negotiatedDealsTable",
      paging: true,
      pageLength: 25,
      lengthMenu: [25, 50, 100],
      ordering: false,
      fixedHeader: true
    },
 
    minimumSize: {
      selector: "#minimumSizeTable",
      pageLength: 25,
      lengthMenu: [25, 50, 100],
      ordering: false,
      fixedHeader: true
    },
 
    accumulatedLosses: {
      selector: "#accumulatedLossesTable",
      pageLength: 25,
      lengthMenu: [25, 50, 100],
      ordering: false,
      fixedHeader: true
    },
 
    listedTradableRights: {
      selector: "#listedTradableRightsTable",
      paging: false,
      ordering: true,
      fixedHeader: true
    },
 
    suspendedCompanies: {
      selector: "#suspendedCompTable",
      paging: false,
      ordering: true,
      order: [[2, 'desc']],
      fixedHeader: true
    },
 
    delistedCompanies: {
      selector: "#delistedCompTable",
      paging: false,
     ordering: true,
      order: [[2, 'desc']],
      fixedHeader: true
    },
 
    otcTrading: {
      selector: "#otcTradingTable",
      paging: false,
      ordering: true,
      fixedHeader: true
    }
  }
};
</script>

<script src="${pageContext.request.contextPath}/js/tabs.controller.js"></script>
<script
	src="${pageContext.request.contextPath}/js/tabbed-feature.manager.js"></script>
<script src="${pageContext.request.contextPath}/js/dropdown-update.js"></script>
<script
	src="${pageContext.request.contextPath}/js/custom-trading/datatable-page-utils.js"></script>
<script
	src="${pageContext.request.contextPath}/js/custom-trading/trading-datatables.js"></script>


