/* ==========================================================================
   System
   ========================================================================== */

$prefix: "se" !default;

/* ==========================================================================
   Typography
   ========================================================================== */

$base-font-size: 16px !default;
$base-line-height: 1.5 !default;

/* ==========================================================================
   Containers
   ========================================================================== */

$container-sm: 540px !default;
$container-md: 720px !default;
$container-lg: 960px !default;
$container-xl: 1140px !default;
$container-xxl: 1320px !default;

/* ==========================================================================
   Breakpoints
   ========================================================================== */

$breakpoint-xs: 0 !default;
$breakpoint-sm: 576px !default;
$breakpoint-md: 768px !default;
$breakpoint-lg: 992px !default;
$breakpoint-xl: 1200px !default;
$breakpoint-xxl: 1400px !default;
