@use "../abstracts" as ds;

/* ==========================================================================
   Margin
   ========================================================================== */

@each $key, $value in ds.$spaces {
  .m-#{$key} {
    margin: var(--space-#{$key}) !important;
  }

  .mt-#{$key} {
    margin-block-start: var(--space-#{$key}) !important;
  }

  .mb-#{$key} {
    margin-block-end: var(--space-#{$key}) !important;
  }

  .ms-#{$key} {
    margin-inline-start: var(--space-#{$key}) !important;
  }

  .me-#{$key} {
    margin-inline-end: var(--space-#{$key}) !important;
  }

  .mx-#{$key} {
    margin-inline: var(--space-#{$key}) !important;
  }

  .my-#{$key} {
    margin-block: var(--space-#{$key}) !important;
  }
}

/* ==========================================================================
   Padding
   ========================================================================== */

@each $key, $value in ds.$spaces {
  .p-#{$key} {
    padding: var(--space-#{$key}) !important;
  }

  .pt-#{$key} {
    padding-block-start: var(--space-#{$key}) !important;
  }

  .pb-#{$key} {
    padding-block-end: var(--space-#{$key}) !important;
  }

  .ps-#{$key} {
    padding-inline-start: var(--space-#{$key}) !important;
  }

  .pe-#{$key} {
    padding-inline-end: var(--space-#{$key}) !important;
  }

  .px-#{$key} {
    padding-inline: var(--space-#{$key}) !important;
  }

  .py-#{$key} {
    padding-block: var(--space-#{$key}) !important;
  }
}

/* ==========================================================================
   Gap
   ========================================================================== */

@each $key, $value in ds.$spaces {
  .gap-#{$key} {
    gap: var(--space-#{$key}) !important;
  }

  .row-gap-#{$key} {
    row-gap: var(--space-#{$key}) !important;
  }

  .column-gap-#{$key} {
    column-gap: var(--space-#{$key}) !important;
  }
}
